<div class="footer">
  <div class="pull-right hidden-xs">
      Project Completed <strong class="text-custom">39%</strong>.
  </div>
  <div>
      <strong>Simple Admin</strong> - Copyright &copy; 2017
  </div>
</div>